<!DOCTYPE html>

<head>
  <title>Archery Training</title>
  <meta charset="utf-8" />

  <link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        crossorigin="anonymous"/>
  <link rel="stylesheet" type="text/css" href="styles/icons.css"/>
  <link rel="stylesheet" type="text/css" href="styles/dialog.css"/>
  <link rel="stylesheet" type="text/css" href="styles/training.css"/>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />

  <!-- various browser and app icons -->
  <link rel="icon" type="image/svg+xml"  sizes="any" href="media/icon.svg" />
  <link rel="mask-icon" href="media/mask.svg" color="#FFFF00" />
  <link rel="apple-touch-icon" href="media/apple-touch-icon.png" />
  <link rel="apple-touch-startup-image" href="media/apple-touch-icon.png" />
  <meta name="theme-color" content="#ffff00" />

  <!-- Open Graph (social metadata) -->
  <meta property="og:title" content="Archery Arrow Counter" />
  <meta property="og:description" content="A simple phone/tablet/laptop app to keep track of arrows" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://dwhitnee.github.io/archeryTimer/" />
  <meta property="og:image" content="https://dwhitnee.github.io/archeryTimer/icon.svg" />

  <!-- for localhost testing -->
  <meta name="Referrer-Policy" content="no-referrer-when-downgrade" />

</head>

<body>
  <div id="trainingApp" class="appGrid" v-cloak>

    <div class="menuBar">
      <div>
        <div class="settings icon settingsIcon" title="Settings" @click="openDialog('settings')"></div>
      </div>

      <div>
        <div v-if="message "class="message">{{ message }}</div>
      </div>

      <div class="loginMenu">
        <a href="#" @click="openDialog('login')">{{ user.name }}</a>
      </div>
    </div>


    <div class="weeklyInput">
      This week's arrow counts:
      <div>
        <span v-for="(day,index) in days">
         <label :for="'day_'+day">{{ day }}</label>
          <input :id="'day_'+day" size=2 type="text" v-model.number="weekArrows[index]"
                 @click="event.target.select()"
                 @blur="updateArrows( event, index )"
                 @keyup.enter="updateArrows( event, index )"
                 @keydown.esc="abortEdit()"
          />
        </span>
      </div>
    </div>


    <div class="summaryDisplay">

      <div id="chart">
        <apexchart type="heatmap" ref="arrowCount" height="350" :options="heatmap.chartOptions" :series="heatmap.series"></apexchart>
      </div>
      <div>
        <div class="info">
          <div>Date: {{ dataDisplay.day }}, {{ dataDisplay.date }}</div>

          <div v-if="editing">
            Arrows:
            <input id="arrowInput" size=2 v-model.number="dataDisplay.arrows"
                   @blur="updateArrows()"
                   @keyup.enter="updateArrows()"
                   @keydown.esc="endEdit()" />
          </div>
          <div v-else>Arrows: {{ dataDisplay.arrows }}  (week: {{ dataDisplay.weekArrows }} )</div>
        </div>
      </div>

      <!-- Settings-->

      <div id="dialogBackdrop"></div>

      <dialog id="login">
        <button class="close" @click="closeDialog( $event )"></button>

        <div class="loginGrid">

          <div>Name:
            <input  v-model="user.id" size=10 @click="event.target.select()"/>
          </div>
          <div><img v-if="user.pictureUrl" src="{{ user.pictureUrl }}"></div>
          <div>

            <!-- data-login_uri="https://tolocalhost.com/~dwhitney/archeryTimer/arrowCount.html" -->
            <div id="g_id_onload"
                 data-client_id="1021363791635-7p4g4ltun01jq4o0lirgk8vfhgm46ejp.apps.googleusercontent.com"
                 data-context="signin"
                 data-ux_mode="popup"
                 data-callback="handleGoogleLogin"
                 data-login_uri="http://localhost:8080/~dwhitney/archeryTimer/arrowCount.html"
                 data-auto_select="true"
                 data-itp_support="true">
            </div>

            <div class="g_id_signin"
                 data-type="standard"
                 data-shape="pill"
                 data-theme="outline"
                 data-text="signin_with"
                 data-size="large"
                 data-logo_alignment="left">
            </div>

          </div>


          <div>
            <div>
              <label class="form-check-label" for="coach">Coach:</label>
              <select id="coach" v-model="coach">
                <option v-for="coach in coaches" :value="coach">
                  {{ coach }}
                </option>
              </select>
            </div>
          </div>

          <div>
            <div>
              <label class="form-check-label" for="makePublic">Allow others to see?</label>
              <input type="checkbox" v-model="makePublic" id="makePublic"/>
            </div>
          </div>

        </div>

      </dialog>


      <dialog id="settings">
        <button class="close" @click="closeDialog( $event )"></button>

        <div class="settings">

          <div class="prefGrid">
            <div class="prefs">
            </div>

          <hr/>
          <div class="feedback">
            <div>Feedback:</div>
            <div><ul>
              <li><a :href="'mailto:dwhitnee@gmail.com?subject=Arrrow%20Counter%20Feedback&body='+deviceData">Email</a></li>
              <li><a href="https://www.facebook.com/sharer.php?u=http://dwhitnee.github.io/archeryTimer/" target="_blank" rel="noopener">Facebook</a></li>
            </ul>
            </div>
          </div>

          <div class="credits">
            Acknowledgements:
            <button class="btn btn-secondary btn-sm" v-on:click="showCredits = !showCredits">View</button>
            <div v-if="showCredits">
              Author: <ul><li>David Whitney</li></ul>
              Testers: <ul>
              <li>your name here!</li>
            </ul>
            Credits:
            <ul>
              <li><a href="https://vuejs.org/">Vue.js</a></li>
            </ul>
          </div>
        </div>
        <div class="version">build: {{ version }}</div>
      </div>

    </dialog>
  </div>

</div>

<script src="https://accounts.google.com/gsi/client" async></script>

<script  src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.15/vue.min.js"
         integrity="sha512-2hINX01gn7TwWmZNKvrt+ZiHjOW2l7+gCaghPVL6Ge4kTTA7S35Q3zqJmCpKWMLvV5ih4fawBiNW+0WhIbEELg=="
         crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/vue-router/3.1.3/vue-router.min.js"
        crossorigin="anonymous"></script>

<!--
<script src="js/vue.2.6.14.min.js"></script>
<script src="js/vue-router.3.1.3.min.js"></script>
-->


<script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.6.12/apexcharts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-apexcharts"></script>

<script src="js/login.js"></script>
<script src="js/util.js"></script>
<script src="js/arrowCountApp.js"></script>

</body>
</html>
