<!DOCTYPE html>

<head>
  <title>Archery Training</title>
  <meta charset="utf-8" />

  <link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        crossorigin="anonymous"/>
  <link rel="stylesheet" type="text/css" href="../styles/icons.css"/>
  <link rel="stylesheet" type="text/css" href="../styles/dialog.css"/>
  <link rel="stylesheet" type="text/css" href="../styles/training.css"/>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />

  <!-- various browser and app icons -->
  <link rel="icon" type="image/svg+xml"  sizes="any" href="media/icon.svg" />
  <link rel="mask-icon" href="media/mask.svg" color="#FFFF00" />
  <link rel="apple-touch-icon" href="media/apple-touch-icon.png" />
  <link rel="apple-touch-startup-image" href="media/apple-touch-icon.png" />
  <meta name="theme-color" content="#ffff00" />

  <!-- Open Graph (social metadata) -->
  <meta property="og:title" content="Archery Arrow Counter" />
  <meta property="og:description" content="A simple phone/tablet/laptop app to keep track of arrows" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://dwhitnee.github.io/archery/timer/" />
  <meta property="og:image" content="https://dwhitnee.github.io/archery/media/icon.svg" />

  <!-- for localhost testing -->
  <meta name="Referrer-Policy" content="no-referrer-when-downgrade" />

  <style>
    [v-cloak] {  display:none !important; }
  </style>

</head>

<body>
  <div id="trainingApp" class="appGrid" v-cloak>

    <div v-if="coachView" class="watermark">
      <div>COACH</div>
      <div>COACH</div>
      <div>COACH</div>
    </div>

    <div v-if="loadingData" class="loading spinner-border spinner-border-lg"></div>

    <div class="menuBar">
      <div>
        <div class="settings icon settingsIcon" title="Settings" @click="openDialog('settings')"></div>

        <div v-if="inProgress()" class="spinner-border spinner-border-sm"></div>

      </div>

      <div>
        <b><div v-if="message "class="message">{{ message }}</div></b>
      </div>

      <div class="loginMenu">
        <a href="#" @click="openDialog('login')">{{ user.name || "Login" }}</a>
      </div>
    </div>

    <div class="weeklyInput weeklyArrowInput">
      Enter this week's arrow counts here:
      <div class="days">
        <div class="day" v-for="(day,index) in days">
          <label :for="'day_'+day">{{ day }}</label>
          <input :id="'day_'+day" size=3 type="text" v-model.number="weekArrows[index]"
                 @focus="event.target.select()"
                 @blur="editArrows( event, index )"
                 @keyup.enter="event.target.blur()"
                 @keydown.esc="endEdit()"
          />
        </div>
      </div>
      <div class="goals">
        <label for="notes">Weekly Goals/Notes:</label>

        <!-- contenteditable ignores v-model and keypress handlers.  D'oh-->
        <div v-show="!noteEditMode" class="editable" contenteditable="false" spellcheck="false"
             placeholder="what shall we do this week, Brain?"
             title="click to edit note"
             @click="enterNoteEditMode()">{{ weekGoals }}</div>

        <input v-show="noteEditMode" id="notes" ref="notes" size=30 type="text"
               placeholder="what shall we do this week, Brain?"
               v-model="weekGoals"
               @blur="saveNote()"
               @keydown.esc="abortNoteEdit()"
               @keypress.enter.prevent="event.target.blur()"  />

        <a href="#" @click="showAllGoals = !showAllGoals">Past goals</a>

        <ul v-show="showAllGoals" class="pastGoals">
          <li v-for="(goal, index) in data.notes" v-show="goal">
            {{ (getDateFromDayOfYear(7*index)).toLocaleDateString() }}: {{ goal }}
          </li>
        </ul>

      </div>
    </div>


    <div v-if="false" class="weeklyInput weeklyScoreInput">
      Enter this week's scores here:
      <div class="days">
        <div class="score" v-for="(score,index) in weekScores">
          <input id="'score1" size=2 type="text" v-model.number="weekScores[index]"
                 @focus="event.target.select()"
                 @blur="editScores( event, index )"
                 @keyup.enter="event.target.blur()"
                 @keydown.esc="endEdit()"
          />
        </div>
      </div>
    </div>


    <div class="summaryDisplay">

      <div id="chart">
        <apexchart type="heatmap" ref="arrowCount" height="350" :options="heatmap.chartOptions" :series="heatmap.series"></apexchart>
      </div>
      <div>
        <div class="info">
          <div>Date: {{ dataDisplay.day }}, {{ dataDisplay.date }}</div>

          <div v-if="editing">
            Arrows:
            <input id="arrowInput" size=2 v-model.number="dataDisplay.arrows"
                   @blur="editArrows()"
                   @keyup.enter="event.target.blur()"
                   @keydown.esc="endEdit()" />
          </div>
          <div v-else>
            Arrows: {{ dataDisplay.arrows }}
            (week: {{ dataDisplay.weekArrows }}, year: {{ yearArrows }} )
          </div>
        </div>
      </div>

      <a href="#" @click="exportToCSV()"
         title="Export to CSV" style="padding: 1em; display: flex; width: fit-content">
        <div class="icon saveIcon"></div>
        Download as spreadsheet (CSV)
        <div class="icon saveIcon"></div>
      </div>

      <div v-if="!teamViewWeek" style="padding: 2em;">
        <a href="#" @click="showTeamWeek()">Show weekly team arrow counts</a>
      </div>

      <div class="teamView" v-if="teamViewWeek">
        <hr>
        <h2>Team Arrow Counts</h2>
        <table>
          <tr>
            <th>
              <div>
                {{ this.teamViewWeek.toLocaleDateString() }}
              </div>
              <div style="padding-bottom: 0.5em">
                <a href="#" @click="prevTeamWeek()"> &lt </a>&nbsp;&nbsp; &nbsp; &nbsp;
                <a href="#" @click="nextTeamWeek()"> &gt </a>
              </div>
            </th>
            <th v-for="day in this.days"> {{ day }}</th>
          </tr>

          <tr v-for="archer in allActiveArchers">
            <td>{{ archer.name }}</td>
            <td v-for="arrows in archer.weekArrows">{{ arrows }}</td>
          </tr>
        </table>
      </div>

      <!-- Settings-->

      <div id="dialogBackdrop"></div>

      <dialog id="login">
        <button class="close" @click="closeDialog( $event )"></button>

        <div class="loginGrid">

          <div  v-if="user.auth" class="welcome">
            Welcome, {{ user.given_name }}
            (<a href="#" @click="logout()">Logout</a>)
          </div>

          <div class="name">Name:
            <input  v-model="user.name" size=10
              @blur="updateArcher()"
              @keyup.enter="event.target.blur()"
              @focus="event.target.select()"/>
          </div>

          <div></div>

          <div v-if="user.auth" class="loginButtons">
            <div v-if="user.pictureUrl">
              <img :src="user.pictureUrl" />
            </div>
          </div>

          <div v-else class="loginButtons">

            <div class="googleLogin">
              <div id="g_id_onload"
                   data-client_id="1021363791635-7p4g4ltun01jq4o0lirgk8vfhgm46ejp.apps.googleusercontent.com"
                   data-auto_select="true"
                   data-context="signin"
                   data-ux_mode="popup"
                   data-callback="handleGoogleLogin"
                   data-itp_support="true">
              </div>

              <div v-show="!doEmailLogin" class="g_id_signin"
                   data-type="standard"
                   data-shape="pill"
                   data-theme="outline"
                   data-text="signin"
                   data-size="large"
                   data-logo_alignment="left">
              </div>
            </div>

            <div class="emailLoginButton">
              <div v-if="doEmailLogin">
                <label for="'emailLogin">email:</label>
                <input id="emailLogin" size=10 type="text"
                       @blur="emailLogin( event.target.value )"
                       @keyup.enter="event.target.blur()"/>
              </div>
              <button  v-if="!doEmailLogin" class="btn btn-primary btn-sm" @click="doEmailLogin=true">
                Login with email
              </button>
            </div>
          </div>

          <div class="coach">
            <div>
              <label class="form-check-label" for="coach">Coach:</label>
              <select id="coach" v-model="user.coach" @change="updateArcher()">
                <option v-for="coach in coaches" :value="coach">
                  {{ coach }}
                </option>
              </select>
            </div>
          </div>

          <div class="misc2">
            <div>
              <label class="form-check-label" for="makePublic">Allow others to see?</label>
              <input type="checkbox" v-model="makePublic" id="makePublic"/>
            </div>
          </div>

        </div>

      </dialog>

      <dialog id="coachView">
        <button class="close" @click="closeDialog( $event )"></button>

        <div class="coachView">
          Hi, coaches!
          <ul>
            <li v-for="archer in allArchers">
              <a :href="archerUrl(archer.id)" @click="closeDialog($event )">
                {{archer.name }} ({{ archer.coach}})
            </a></li>
            <li><a :href="archerUrl(0)">Exit</a></li>
          </ul>
        </div>
      </dialog>


      <dialog id="settings">
        <button class="close" @click="closeDialog( $event )"></button>

        <div class="settings">

          <div class="prefGrid">
            <div class="prefs">
            </div>

          <hr/>
          <div class="feedback">
            <div>Feedback:</div>
            <div><ul>
              <li><a :href="'mailto:dwhitnee@gmail.com?subject=Arrrow%20Counter%20Feedback&body='+deviceData">Email</a></li>
              <li><a href="https://www.facebook.com/sharer.php?u=http://dwhitnee.github.io/archery/" target="_blank" rel="noopener">Facebook</a></li>
            </ul>
            </div>
          </div>

          <div class="credits">
            Acknowledgements:
            <button class="btn btn-secondary btn-sm" v-on:click="showCredits = !showCredits">View</button>
            <div v-if="showCredits">
              Author: <ul><li>David Whitney</li></ul>
              Testers: <ul>
              <li>your name here!</li>
            </ul>
            Credits:
            <ul>
              <li><a href="https://vuejs.org/">Vue.js</a></li>
            </ul>
          </div>
        </div>
        <div class="version">build: {{ version }}</div>
      </div>

    </dialog>
  </div>

</div>

<script src="https://accounts.google.com/gsi/client" async></script>

<!--
<script  src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.15/vue.min.js"
         integrity="sha512-2hINX01gn7TwWmZNKvrt+ZiHjOW2l7+gCaghPVL6Ge4kTTA7S35Q3zqJmCpKWMLvV5ih4fawBiNW+0WhIbEELg=="
         crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/vue-router/3.1.3/vue-router.min.js"
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.6.12/apexcharts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-apexcharts"></script>

-->

<script src="../js/vue-2.7.15.min.js"></script>
<script src="../js/vue-router-3.1.3.min.js"></script>
<script src="../js/apexcharts-3.6.12.min.js"></script>
<script src="../js/vue-apexcharts.min.js"></script>


<script src="../js/login.js"></script>
<script src="../js/util.js"></script>
<script src="../js/arrowCountApp.js"></script>

</body>
</html>
