<!DOCTYPE html>
<head>
  <title>Tournament Results</title>
  <meta charset="utf-8" />

  <link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        crossorigin="anonymous"/>
  <link rel="stylesheet" type="text/css" href="../../styles/icons.css"/>
  <link rel="stylesheet" type="text/css" href="../../styles/dialog.css"/>
  <link rel="stylesheet" type="text/css" href="../../styles/tournament.css"/>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />

  <!-- various browser and app icons -->
  <link rel="icon" type="image/svg+xml"  sizes="any" href="../../media/icon.svg" />
  <link rel="mask-icon" href="../../media/mask.svg" color="#FFFF00" />
  <link rel="apple-touch-icon" href="../../media/apple-touch-icon.png" />
  <link rel="apple-touch-startup-image" href="../../media/apple-touch-icon.png" />
  <meta name="theme-color" content="#ffff00" />

  <!-- Open Graph (social metadata) -->
  <meta property="og:title" content="Archery Tournament Scoring" />
  <meta property="og:description" content="A simple phone/tablet/laptop app to keep track of arrows" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://dwhitnee.github.io/archery/" />
  <meta property="og:image" content="https://dwhitnee.github.io/archery/media/icon.svg" />

  <!-- for localhost testing -->
  <meta name="Referrer-Policy" content="no-referrer-when-downgrade" />

  <style>
    [v-cloak] {  display:none !important; }
  </style>

</head>

<body>
  <div id="tournamentApp" class="appGrid" v-cloak>
    <div v-if="loadingData" class="loading spinner-border spinner-border-lg"></div>

    <div class="menuBar">
      <div>
        <div v-if="updateInProgress()" class="spinner-border spinner-border-sm"></div>
        <div v-else>
          <a :href='"../create?leagueId=" + league.id' title="Create new tournament">Admin</a>
        </div>
      </div>

      <div>
        <b><div class="message">
          {{ message }}
        </div></b>
      </div>

      <div >
        <a href="#"  @click="generateTouramentQRCode(); openDialog('showQRCode')"
           class="settings icon settingsIcon" title="Tournament info"></a>
      </div>

    </div>


    <div v-if="(!league || !league.id) && (!tournament || !tournament.id)">
      No tournament or league selected
    </div>
    <div v-else>

      <div class="resultsPage">

        <h3 title="Export to CSV" @click="exportToCSV( tournament )">
          {{ tournament.name || league.name }} results
          <div class="icon saveIcon" style="font-size: 50%;"></div>
        </h3>

        <div style="padding-bottom: 1em">
          <label class="form-check-label" for="ignoreAgeGender">Ignore age and gender?</label>
          <input type="checkbox" id="ignoreAgeGender"
                 v-model.trim="ignoreAgeGender" @change="toggleAgeGender()"  />
        </div>

        <!-- results like  https://drive.google.com/file/d/1Zmz_iE0EUlASVKqjfVHt3Yms-moM1g9b/view   -->

        <div class="table">
          <div class="header">
            <div class="rowLead">Category</div>
            <div v-for="roundNum in tournament.type.rounds"  v-if="tournament.type.rounds > 1">
              <div class="dayScore">
                <div class="score">Score {{ roundNum }} </div>
                <div class="score">X</div>
              </div>
            </div>
            <div>
              <div class="dayScore">
                <div class="score">Total</div>
                <div class="score">X</div>
                <div v-if="tournament && tournament.id" class="score small"></div>
                <div v-else class="average">avg </div>
              </div>
            </div>
          </div>
        </div>

        <div v-for="classification in getAllCompetitionClasses()">

          <div v-if="getArchersByClass( classification ).length" class="header">
            <div v-if="ignoreAgeGender">
              {{ classification.bow.full }}
            </div>
            <div v-else>
              {{ classification.age.full }}  {{ classification.gender.full }}  {{ classification.bow.full }}
            </div>
          </div>

          <div class="table archerResultList" v-if="getArchersByClass( classification ).length">
            <div class="resultLine" v-for="archer in getArchersByClass( classification )">
              <div class="rowLead">{{ archer.name }}</div>
              <div v-for="r in tournament.type.rounds" v-if="tournament.type.rounds > 1">
                <div class="dayScore"
                     @click="displayRounds = [archer.rounds[r-1]];
                             currentRound = r; openDialog('scorecardDialog')">
                     <!-- @click="if (admin) { location.href = getScoringGroupURL( archer.rounds[r-1] ); } "> -->
                  <div v-if="archer.rounds[r-1]" class="score">{{ archer.rounds[r-1].score }}</div>
                  <div v-if="archer.rounds[r-1]" class="score">{{ archer.rounds[r-1].xCount }}</div>
                </div>
              </div>
              <div>
                <div class="dayScore"
                     @click="displayRounds = archer.rounds; currentRound = 0;openDialog('scorecardDialog')">
                     <!-- @click="if (admin) { location.href = getScoringGroupURL( archer )}"> -->
                  <div class="score">{{ archer.total.score }}</div>
                  <div class="score">{{ archer.total.xCount }}</div>
                  <div v-if="tournament && tournament.id" class="score small">
                    {{ archer.total.arrowCount }}/
                  </div>
                  <div v-else class="average">
                    {{ ( archer.total.score / archer.rounds.length ).toFixed(1) }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- Settings-->

    <div id="dialogBackdrop"></div>

    <dialog id="showQRCode">
      <button class="close" @click="closeDialog( $event )"></button>

      <div>

        <div>
          Scan QR Code to score a new bale/group
        </div>
        <div id="qrcode">
          <b>[ Join a tournament to see the scoring QR code ]</b>
        </div>
        <div>
          <a v-if="tournament.id" :href="resultsURL()">Live Tournament Results</a>
        </div>
        <div>
          <a v-if="league.id" :href="leagueResultsURL()">Overall League Results</a>
        </div>

      </div>
    </dialog>


    <dialog id="scorecardDialog">
      <button class="close" @click="closeDialog( $event )"></button>

      <div v-for="(round, index) in displayRounds" class="round">
        <h3 style="display: table-caption; padding-left: 1em;">
          round {{ currentRound || index+1 }}
        </h3>

        <div class="end" style="color: gray">
          <div>end</div>
          <div v-for="arrow in round.ends[0].arrows"></div>
          <div>sum</div>
          <div>total</div>
        </div>

        <div v-for="(end,index) in round.ends" class="end">
          <div>{{ index+1 }}</div>
          <div v-for="arrow in end.arrows" class="arrowScore"> {{ arrow | score }} </div>
          <div class="score">{{ end.score | score }}</div>
          <div class="score">{{ end.runningTotal | score }}</div>
        </div>
      </div>

    </dialog>


    <dialog id="settings">
      <button class="close" @click="closeDialog( $event )"></button>

      <div class="settings">

        <div class="prefGrid">
          <div class="prefs">
          </div>
        </div>

        <hr/>
        <div class="feedback">
          <div>Feedback:</div>
          <div><ul>
            <li><a :href="'mailto:dwhitnee@gmail.com?subject=Tournament%20Feedback&body='+deviceData">Email</a></li>
            <li><a href="https://www.facebook.com/sharer.php?u=http://dwhitnee.github.io/archery/" target="_blank" rel="noopener">Facebook</a></li>
          </ul>
          </div>
        </div>

        <div class="credits">
          Acknowledgements:
          <button class="btn btn-secondary btn-sm" @click="showCredits = !showCredits">View</button>
          <div v-if="showCredits">
            Author: <ul><li>David Whitney</li></ul>
            Testers: <ul>
            <li>your name here!</li>
          </ul>
          Credits:
          <ul>
            <li><a href="https://vuejs.org/">Vue.js</a></li>
          </ul>
          </div>
        </div>
        <div class="version">build: {{ version }}</div>
      </div>

    </dialog>
  </div>


  <script src="../../js/vue-2.7.15.min.js"></script>
  <script src="../../js/vue-router-3.1.3.min.js"></script>

  <script src="../../js/qrcode.min.js"></script>
  <script src="../../js/util.js"></script>
  <script src="../../js/tournament.js"></script>


</body>
</html>
