html,body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
}

a {
  text-decoration: underline;
}


#trainingApp {
  width: 100%;
  display: grid;
  /* grid-template-columns: 1fr 10fr 1fr; */
  grid-template-rows: auto;
  row-gap: .5em;
  grid-template-areas:
    "menuBar"
    "weeklyInput"
    "summaryDisplay";
}

.menuBar {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: auto;
  background: lightGrey;
  /* margin: .1em 0; */
  padding: .25em;
}
.menuBar > div {
  margin: auto;
  /* border: 2px solid grey; */
  /* border-radius: .2em; */
  padding: 0 .5em;
  text-decoration: inherit;

}

.appGrid {
}

.appGrid > .menuBar { grid-area: menuBar; }
.appGrid > .weeklyInput  { grid-area: weeklyInput; }
.appGrid > .summaryDisplay { grid-area: summaryDisplay; }


.weeklyInput {
  background: #eee;
  border-radius: .25em;
  padding: .25em;
  margin: 1em;
}

.days {
  display: flex;
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1f; */
}

.day {
  display: inline;
  padding-left: .5em;
  margin: auto;
  text-align: center;
}

.weeklyInput input {
  text-align: center;
  user-select: all;
}

.weeklyInput  span {
  margin: .25em
}

#chart {
  width: 100vw;  /* scroll */
  overflow-x: scroll;
  overflow-y:hidden;
  /* white-space: nowrap; */
}

.info {
  font-size: smaller;
  border: 2px solid grey;
  width: 20em;
  margin-left: 1em;
  padding-left: 1em;
}
#arrowInput {
  position: absolute;
  z-index: 10;
}


.loginGrid {
  display: grid;
  align-content: space-evenly;
  /* grid-template-columns: 1fr 1fr 2fr; */
  grid-template-areas:
    "welcome welcome welcome"
    "name  . loginButtons"
    "coach . loginButtons"
    "misc2 . loginButtons"
    ". . loginButtons"
    ". . loginButtons";

  width: 90%;
}

.loginGrid div {
}
.loginGrid > .loginButtons { grid-area: loginButtons; }
.loginGrid > .welcome  { grid-area: welcome; }
.loginGrid > .name  { grid-area: name; }
.loginGrid > .coach { grid-area: coach; }
.loginGrid > .misc2 { grid-area: misc2; }

.loginMenu {
}

#settings {
  margin: auto;
}

.watermark {
  position: absolute;
  color: black;
  opacity: 20%;
  font-weight: bold;
  font-size: 20vw;
  transform: rotate(-45deg);
  top: 0;
  left: 15vw;
  z-index: 50
}

.loading {
  width: 20vw;
  height: 20vw;
  position: absolute;
  top: 20vh;
  left: 40vw;
  z-index: 10;
  opacity: 60%;
  background: #FAEF00;
}
